* {
	font-family: "Quicksand", sans-serif;
	box-sizing: border-box;
	margin: 0;
}


.root {
	width: 100vw;
	height: fit-content;
	overflow-y: scroll;
	margin: 0;
}

.root__div {
	width: 100vw;
	height: fit-content;
	position: absolute;
	top: 0;
	left: 0;
}

.container__div {
	width: 100vw;
	height: fit-content;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;

}
